<html>

<head>
    {% load static %}
    <title>FreeFall:</title>
    <link rel="stylesheet" href="http://bootstraptema.ru/snippets/style/2015/bootswatch/bootstrap-cyborg-v3.3.6.css" media="screen">
    <!--<link rel="stylesheet" href="http://bootstraptema.ru/snippets/style/2015/bootswatch/custom.min.css">
    -->
    <link href="{% static 'styles/baseStyle.css' %}" rel="stylesheet">
    <script src="{% static '/js/baseScripts.js' %}" type="text/javascript"></script>
</head>

<body>
    <div class="header">
        <div>
            <a href="/login"><button type="button" class="btn">Login</button></a>
            <a href="/"><button type="button" class="btn">Posts</button></a>
            <a href="/#"><button type="button" class="btn">Create</button></a>
            <a href="/#"><button type="button" class="btn rightElement">Logout</button></a>
            <a href="#"><div class="logo"><img class = "logo" src="{% static '/icons/logo.png' %}" ></div></a>
        </div>
    </div>
    <nav class="sidebar">
        <ul>
            <li><a href="#"><img class = "icon" src="https://gitlab.com/uploads/-/system/user/avatar/4166319/avatar.png?width=400">Профиль</li></a>
            <li><a href="#"><img class = "icon" src="https://maxcdn.icons8.com/Share/icon/p1em/Messaging/message1600.png">Сообщения</li></a>
            <li><a href="#"><img class = "icon" src="https://png.pngtree.com/svg/20170420/person_1058396.png">Люди</li></a>
            <li><a href="#"><img class = "icon" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Very-Basic-Document-icon.png">Посты</li></a>
        </ul>


    </nav>
    <div class="content">
        <p>Древний черный дракон (Ancient black dragon) Громадный, Дракон, Хаотично-Злой Класс доспеха: 22 (природный доспех) Хиты: 367 (21d20 + 147) Скорость: 40 фт., Плавая 40 фт., Летая 80 фт.
        Иммунитет
            к урону: Кислота Спасброски: ЛОВ +9, ТЕЛ +14, МДР +9, ХАР +11 Навыки: Скрытность +9, Внимательность +16 Чувства: Слепое зрение 60 фт., Темное зрение 120 фт., Пассивная внимательность 26 Языки: Общий, Драконий Опасность: 21 - 33000 оп. Источник:
            «Monster manual» Способности
            <br> Амфибия. Дракон может дышать и воздухом и под водой.
            <br> Легендарное сопротивление (3/день). Если дракон проваливает спасбросок, он может вместо этого сделать спасбросок успешным. Действия
            <br> Мультиатака. Дракон может использовать Ужасающую внешность. Затем он совершает три атаки: одну укусом, и две когтями.
            <br> Укус. Рукопашная атака оружием: +15 к попаданию, досягаемость 15 фт., одна цель. Попадание: Колющий урон 19 (2d10 + 8) плюс урон кислотой 9 (2d8).
            <br> Коготь. Рукопашная атака оружием: +15 к попаданию, досягаемость 10 фт., одна цель. Попадание: Рубящий урон 15 (2d6 + 8).
            <br> Хвост. Рукопашная атака оружием: +15 к попаданию, досягаемость 20 фт., одна цель. Попадание: Дробящий урон 17 (2d8 + 8).
            <br> Ужасающая внешность. Все существа на выбор дракона, находящиеся в пределах 120 фт. от него и знающие о его присутствии, должны преуспеть в спасброске Мудрости со Сл 19, иначе станут испуганными на 1 минуту. Существо может повторять этот
            спасбросок в конце каждого своего хода, оканчивая эффект на себе при успехе. Если спасбросок существа был успешным, или эффект на нём окончился, оно получает иммунитет к Ужасающей внешности этого дракона на следующие 24 часа.
            <br> Кислотное дыхание (перезарядка 5–6). Дракон выдыхает кислоту 90-фт.ой линией шириной 10 фт. Все существа в этой линии должны совершить спасбросок Ловкости со Сл 22, получая урон кислотой 67 (15d8) при провале, или половину этого урона
            при успехе. Легендарные действия<br> Дракон может совершить 3 легендарных действия, выбирая из представленных ниже вариантов. За один раз можно использовать только одно легендарное действие, и только в конце хода другого существа. Дракон восстанавливает
            использованные легендарные действия в начале своего хода. Обнаружение. Дракон совершает проверку Мудрости (Внимательность). Атака хвостом. Дракон совершает атаку хвостом. Атака крыльями (стоит 2 действия). Дракон бьёт своими крыльями. Все
            существа в пределах 15 фт. от дракона должны преуспеть в спасброске Ловкости со Сл 23, иначе получат дробящий урон 15 (2d6 + 8) и будут сбиты с ног. После этого дракон может пролететь на расстояние, не превышающее половину скорости полёта.</p>
        {%block content%} {%endblock%}
    </div>



    <div class="footer">FOOTER</div>
</body>

</html>